/.anaconda
/.conda
/.condarc
/.continuum
/.dbus-keyrings
/.device.json
/.gitconfig
/.streamlit
/.vscode
/anaconda3
/AppData
/baserange.py
/BoardGame
/cases with apparea Sept 2024 - Copy.csv
/cases with apparea Sept 2024.csv
/Change Notes
/checkboxlist.py
/columns.py
/Contacts
/dateformats - Copy.py
/dateformats.py
/Documents
/Downloads
/Dropbox
/Favorites
/fillna.py
/first prog - Copy.py
/first prog.py
/firststreamlit.py
/import plotly.py
/IntelGraphicsProfiles
/Links
/mline.py
/modelchecks.py
/multiselect.py
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
/NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/pgplot.py
/Pictures
/Saved Games
/Searches
/slider range to df.py
/slider_df.py
/streamlit
/superset
/Syd - Personal - Shortcut.lnk
/Syds Dash
/tabs_example.py
/Videos
/_netrc
/OneDrive - 4s Dawn
/OneDrive
/Application Data
/Cookies
/My Documents
/NetHood
/PrintHood
/Local Settings
/SendTo
/Start Menu
/Recent
/Templates